@model Web_DSM.Models.ClienteViewModel
@using Práctica3GenNHibernate.EN.Práctica3;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Perfil de @Html.DisplayFor(model => model.NombreUsuario)</h2>


<div class="container">
    <div class="row">
        <div class="col-lg-3 col-xs-4">
            @Html.DisplayNameFor(model => model.Email)
        </div>
        <div class="col-lg-3 col-xs-4">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-xs-4">
            @Html.DisplayNameFor(model => model.Nombre)
        </div>
        <div class="col-lg-3 col-xs-4">
            @Html.DisplayFor(model => model.Nombre)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-xs-4">
            @Html.DisplayNameFor(model => model.Apellidos)
        </div>
        <div class="col-lg-3 col-xs-4">
            @Html.DisplayFor(model => model.Apellidos)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-xs-4">
            @Html.DisplayNameFor(model => model.Telefono)
        </div>
        <div class="col-lg-3 col-xs-4">
            @Html.DisplayFor(model => model.Telefono)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-xs-4">
            @Html.DisplayNameFor(model => model.Genero)
        </div>
        <div class="col-lg-3 col-xs-4">
            @Html.DisplayFor(model => model.Genero)
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Editar datos", "Edit", new { email = Model.Email })
    @Html.ActionLink("Cambiar la contraseña", "ChangePassword", "Manage", routeValues: new { email = Model.Email }, htmlAttributes: null)
</div>



