@model Web_DSM.Models.ProductoViewModel
@using System.Web;
@using Práctica3GenNHibernate.EN.Práctica3;
@using Práctica3GenNHibernate.CEN.Práctica3;

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("Index", "Producto")" class="bi bi-arrow-left-circle-fill fs-3"></a>

<div class="container-fluid wrapper-details bg-white">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6 d-inline-block">
            <img src="@Html.DisplayFor(model => model.Imagen)" width="500" height="500" />
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 d-inline-block">
            <h3 class="d-inline-block">@Html.DisplayFor(model => model.Nombre)</h3>
            <p class="badge text-wrap fs-7 d-inline-block m-2 genero">@Html.DisplayFor(model => model.Genero)
            <p><strong>@Html.DisplayNameFor(model => model.Descripcion):</strong> @Html.DisplayFor(model => model.Descripcion)</p>
            <p>@Html.DisplayFor(model => model.Precio)</p>
            <p>
                <strong>Valoración: </strong>
                @if (Model.ValoracionMedia != 0)
                {
                    for (var i = 0; i < Model.ValoracionMedia; i++)
                    {
                        <span>&#9733;</span>
                    }
                    for (var i = 0; i < (5 - Model.ValoracionMedia); i++)
                    {
                        <span>&#9734;</span>
                    }
                }
                else
                {
                    <span>&#9733;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                }
            </p>
            @if (Session["usuario"] != null)
            {
                if (((ClienteEN)Session["usuario"]).GeneroFav == Model.Genero)
                {
                    <p class="badge text-wrap fs-7 recomendado me-3">Recomendado para tí</p>
                }

                bool encontrado = false;
                ProductoCEN prodCEN = new ProductoCEN();
                IList<ProductoEN> listProdEn = prodCEN.DameListaFavoritosCliente(((ClienteEN)Session["usuario"]).Email);
                foreach (ProductoEN prod in listProdEn)
                {
                    if (prod.Id == Model.Id)
                    {
                        encontrado = true;
                    }
                }
                if (encontrado)
                {
                    <a class="bi bi bi-heart btn btn-block text-center my-3"  href="@Url.Action("QuitarDeFavoritos", "Producto", routeValues: new { idProducto = Model.Id })"></a>
                }
                else
                {
                    <a class="bi bi bi-heart-fill btn btn-block text-center my-3" href="@Url.Action("AnyadirAFavoritos", "Producto", routeValues: new { idProducto = Model.Id })"></a>
                }

            }
            @if (Model.Stock != 0)
            {
                <p>Quedan @Html.DisplayFor(modelItem => Model.Stock) unidades</p>
                if (Session["usuario"] != null)
                {
                    Session["stock"] = Model.Stock;
                    Session["idProducto"] = Model.Id;
                    { Html.RenderAction("Create", "LineaPedido"); }
                }
                else
                {
                    <div>Para poder comprar el producto, @Html.ActionLink("inicia sesión", "Login", "Account")</div>
                }
            }
            else
            {
                <p class="text-danger fw-bold"> Sin Stock </p>
            }
        </div>
    </div>
</div>

<hr />

<h3><stong>Comentarios</stong></h3>
<div class="container-fluid">
    <div class="row">
    <!--Hacemos que si hay un usuario con sesíon iniciada se muestre en primer lugar su comentario si es que tiene uno-->
    @{
        int cont = 0;
        bool ya_ha_comentado = false;
        string emailCliente = "";
    }
    @if (Session["usuario"] != null)
    {
        emailCliente = ((ClienteEN)Session["usuario"]).Email;
        foreach (var item in Model.Comentarios)
        {
            if (Model.EmailUsuario[cont] == emailCliente)
            {
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 card">
                    <div>
                        <h5 class="d-inline-block card-title"><strong>@Html.DisplayFor(model => model.NombreUsuario[cont])</strong> (Tú)</h5>
                        <a class="btn btn-sm text-center bi bi-pencil-square d-inline-block" href="@Url.Action("Edit", "Valoracion", routeValues: new { idValoracion = Model.IdValoracionCliente[cont], idProducto = Model.Id })"></a>
                        <a class="btn btn-sm text-center bi bi-trash3-fill d-inline-block" href="@Url.Action("Delete", "Valoracion", routeValues: new { idValoracion = Model.IdValoracionCliente[cont], idProducto = Model.Id })"></a>
                    </div>
                    <p>
                        @if (Model.ValoracionCliente[cont] > 0)
                        {
                            for (var i = 0; i < Model.ValoracionCliente[cont]; i++)
                            {
                                <span>&#9733;</span>
                            }
                            for (var i = 0; i < (5 - Model.ValoracionCliente[cont]); i++)
                            {
                                <span>&#9734;</span>
                            }
                        }
                        else
                        {
                            <span>&#9733;</span>
                            <span>&#9734;</span>
                            <span>&#9734;</span>
                            <span>&#9734;</span>
                            <span>&#9734;</span>
                        }
                    </p>
                    <p>@Html.DisplayFor(model => model.Comentarios[cont])</p>
                </div>
                ya_ha_comentado = true;
            }
            cont++;
        }
    }
    @{ cont = 0; }
    @foreach (var item in Model.Comentarios)
    {
        if (Model.EmailUsuario[cont] != emailCliente)
        {
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 card">
                <h5 class="d-inline-block card-title"><strong>@Html.DisplayFor(model => model.NombreUsuario[cont])</strong></h5>
                <p>
                    @if (Model.ValoracionCliente[cont] > 0)
                    {
                        for (var i = 0; i < Model.ValoracionCliente[cont]; i++)
                        {
                            <span>&#9733;</span>
                        }
                        for (var i = 0; i < (5 - Model.ValoracionCliente[cont]); i++)
                        {
                            <span>&#9734;</span>
                        }
                    }
                    else
                    {
                        <span>&#9733;</span>
                        <span>&#9734;</span>
                        <span>&#9734;</span>
                        <span>&#9734;</span>
                        <span>&#9734;</span>
                    }
                </p>
                <p>@Html.DisplayFor(model => model.Comentarios[cont])</p>
            </div>
        }
        cont++;
    }
    @if (Model.Comentarios.Count() == 0)
    {
        <p>Aún no hay comentarios</p>
    }
    </div>
</div>
@if (Session["usuario"] != null && !ya_ha_comentado)
{
    @Html.ActionLink("Añadir comentario", "Create", "Valoracion", routeValues: new { idProducto = Model.Id }, htmlAttributes: new { @class = "btn btn-block text-center my-3" })
}



