@model IEnumerable<Web_DSM.Models.ProductoViewModel>
@using Práctica3GenNHibernate.EN.Práctica3;
@using Práctica3GenNHibernate.CEN.Práctica3;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Filtrar por Género
            <span class="caret"></span>
        </button>
        <div class="row" style="background-color:gray">
            <div class="col-sm-12" style="background-color: gray"></div>
        </div>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            @{ List<string> generos = new List<string>(); }
            @foreach (var item in Model)
            {
                if (!generos.Contains(item.Genero))
                {
                    <li>@Html.ActionLink(item.Genero, "PorGenero", "Producto", routeValues: new { genero = item.Genero }, htmlAttributes: new { @class = "dropdown-item" })</li>
                }
                generos.Add(item.Genero);
            }
        </ul>
    </div>
</div>

<div class="container-fluid index-container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var item in Model)
        {
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
                <div class="card">
                    <a href="@Url.Action("Details", "Producto", new { id = item.Id })">
                        <img src="@Html.DisplayFor(modelItem => item.Imagen)" class="card-img-top" height="350" width="350" />
                        <div class="card-img-overlay"><p class="badge text-wrap fs-7 d-inline-block m-2 genero">@Html.DisplayFor(modelItem => item.Genero)</p></div>
                    </a>
                    <div class="card-body">
                        <p class="fs-5 fw-bold d-inline-block card-title">@Html.DisplayFor(modelItem => item.Nombre)</p>
                        <p class="d-inline-block m-3">
                            @if (item.ValoracionMedia != 0)
                            {
                                for (var i = 0; i < item.ValoracionMedia; i++)
                                {
                                    <span>&#9733;</span>
                                }
                                for (var i = 0; i < (5 - item.ValoracionMedia); i++)
                                {
                                    <span>&#9734;</span>
                                }
                            }
                            else
                            {
                                <span>&#9733;</span>
                                <span>&#9734;</span>
                                <span>&#9734;</span>
                                <span>&#9734;</span>
                                <span>&#9734;</span>
                            }
                        </p>
                        <div>
                            <p class="d-inline-block">@Html.DisplayFor(modelItem => item.Precio)</p>
                        </div>
                        @if (Session["usuario"] != null)
                        {
                            if (((ClienteEN)Session["usuario"]).GeneroFav == item.Genero)
                            {
                                <p class="badge text-wrap fs-7 recomendado me-3">Recomendado para tí</p>
                            }
                            else
                            {
                                <!--Para que las cards tengan la misma altura-->
                                <p class="badge text-wrap text-white fs-7 me-3">Recomendado para tí</p>
                            }

                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>


