@model IEnumerable<Web_DSM.Models.ProductoViewModel>

@{
    ViewBag.Title = "PorGenero";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="index-container">
    @foreach (var item in Model)
    {
        <div>
            <img src="@Html.DisplayFor(modelItem => item.Imagen)" height="450" width="450" />
            <p class="product-name">@Html.DisplayFor(modelItem => item.Nombre)</p>
            <div>
                <p>Valoración media: @Html.DisplayFor(modelItem => item.ValoracionMedia)/5 &#9733;</p>
                <p>@Html.DisplayFor(modelItem => item.Precio)</p>
                <p class="product-type">@Html.DisplayFor(modelItem => item.Genero)</p>
            </div>
            @if (item.Stock == 0)
            {
                <p>Sin stock</p>
            }
            @Html.ActionLink("Detalles", "Details", new { id = item.Id })
        </div>
    }
</div>
<p>
    @Html.ActionLink("Volver atrás", "Index")
</p>
